<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Hello<span ng-show="currentUser"> {{ currentUser.name }}</span>, welcome to the Wild Bor World Cup Pool!</h1>
  <p class="lead">
    The wbwcp is software for a small group of people to compare footballing wits by picking World Cup match results. It's not meant for monied betting, of course, which is illegal in my country.</p>

  <p>The wbwcp was written in 2002 and has received nary an improvement since then, except for one bug fix in 2006. Nevertheless, it's somehow managed to run successfully for the 2002, 2006, and 2010 World Cups. Well, it's 2014. The World Cup is upon us again. A lot has changed online, and this is a completely new version, enjoy!</p>
  </p>
</div>

<div class="row marketing">
  <h3>WBWCP News</h3>
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div ng-include="'partials/footer'" class="footer"></div>
