<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Hello<span ng-show="currentUser"> {{ currentUser.name }}</span>. Welcome to the Wild Bor World Cup Pool!</h1>
  <p class="lead">
    The wbwcp is software for a small group of people to compare footballing wits by picking World Cup match results. It's not meant for monied betting, which is illegal in some parts of the world.</p>

  <p>The wbwcp was written in 2002 and with nary an improvement, ran for the 2002, 2006, and 2010 World Cups. It's being completely rewritten for the 2014 World Cup and, not unlike the second Death Star, seems to be mostly operational. Your mileage may vary. Enjoy!</p>
  </p>
</div>

<div class="row marketing">
  <h3>WBWCP News</h3>
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div ng-include="'partials/footer'" class="footer"></div>
