<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1 ng-show="beforeFirstroundCutoff && !isAdmin">Picks for: {{ currentUser.teamName +' - '+ currentUser.name }}</span></h1>
    <div id="pickNav">
      <h1 ng-hide="beforeFirstroundCutoff && !isAdmin">Picks for: <select ng-change="changeUser()" ng-model="currentUser" ng-options="(user.teamName +' - '+ user.name) for user in users track by user._id"></select></h1>
    </div>

    <ul class="nav nav-tabs">
      <li ng-class="{active: activeTab == 'group' }"><a ng-click='activeTab = "group"'>Group Stage</a></li>
      <li ng-class="{active: activeTab == 'finals' }"><a ng-click='activeTab = "finals"'>Knock-out Stage</a></li>
    </ul>

    <div class="tab-content">
      <p>Team/Country (<a href="http://www.fifa.com/worldranking/index.html" target="_blank">FIFA ranking</a>)</p>
      <div ng-switch='activeTab'>

        <!-- round 1 -->
        <div ng-switch-when='group'>
          <p id="pick-meter">You've picked: <strong>{{ pickCount }} / 48</strong> First Round Matches</p>

          <p ng-show="beforeFirstroundCutoff" id="timecheck">Submit your picks: <strong>before {{ beginFirstMatch | date : 'EEE, MMMM d h:mma' }} (Your time)</strong></p>

          <!-- ng-repeat for Match -->
          <div class="match clearfix" ng-repeat="match in firstround">
            
            <h2>{{ match.datetime | date : 'EEE, MMMM d' }}</h2>
            
            <form class="form" name="pickForm" novalidate>
              <!-- left "box" -->
              <div class="col-sm-4">
                <img src="/images/Flags/flags_iso/128/{{ match.team1.flagImage }}" alt="{{ match.team1.code.toUpperCase() }}" /><br />
                {{ match.team1.name }} ({{ match.team1.ranking }})<br />
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'w+2:1'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'w+2:1')">W + 2</button>
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'w:1'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'w:1')">Win</button>
                </div>
              </div>
              <!-- middle "box" -->
              <div class="col-sm-3">
                <div ng-show="isAdmin"><a href="match/edit/{{ match._id }}">Edit Match</a></div>
                Match #{{ match.matchNumber }}<br />
                Group {{ match.group }}<br />
                <!-- if populated, show score instead of time -->
                <p class="matchtime" ng-hide="match.result">{{ match.datetime | date : 'h:mma' }} (Your time)</p>
                <p class="marchresult" ng-show="match.result">Score: {{ match.score1 }} - {{ match.score2 }}<br />
                Result: {{ match.result }}</p>
                <p ng-hide="beforeFirstroundCutoff"><strong>{{ currentUser.name }}<br />
                  Pick: {{ currentPicks[match._id] }}
                  <span ng-show="match.result">
                    <br />Points awarded: {{ currentPoints[match._id] }}
                  </span>
                </strong></p>
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'd'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'd')">Draw</button>
                </div> 
              </div>
              <!-- right "box" -->
              <div class="col-sm-4">
                <img src="/images/Flags/flags_iso/128/{{ match.team2.flagImage }}" alt="{{ match.team2.code.toUpperCase() }}" /><br />
                {{ match.team2.name }} ({{ match.team2.ranking }})<br />
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[match._id] == 'w:2'}" ng-click="savePick(currentUser._id, match._id, 'w:2')">Win</button>
                  <button class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[match._id] == 'w+2:2'}" ng-click="savePick(currentUser._id, match._id, 'w+2:2')">W + 2</button>
                </div>
              </div>
            </form>

          </div><!-- match -->
        </div>
        <!-- end round 1 -->

        <!-- knock-out round -->
        <div ng-switch-when='finals'>

          <p ng-show="beforeKOroundCutoff" id="timecheck">Submit your picks <strong>after {{ endLastFirstroundMatch | date : 'EEE, MMMM d h:mma' }}</strong> and <strong>before {{ beginFirstKOroundMatch | date : 'EEE, MMMM d h:mma' }} (Your time)</strong></p>
          
          <table>
            <tr>
              <!-- Left side round of 16 -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[0].matchNumber }}">
                  <p>
                    Match #{{ finals[0].matchNumber }}, {{ finals[0].round }}<br />
                    <span class="matchtime" ng-hide="finals[0].result">{{ finals[0].datetime | date : 'EEE, MMMM d h:mma' }} (Your time)</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[0]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[0].team1.flagImage }}" alt="{{ finals[0].team1.code.toUpperCase() }}" /><br />
                    {{ finals[0].team1.name }}<span class="finals-score1" ng-show="finals[0].result">: {{ finals[0].score1 }}</span>
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[0]._id] == finals[0].team1.code}" ng-click="savePick(currentUser._id, finals[0]._id, finals[0].team1.code)">Win</button>
                  </p>

                  <p>                 
                    <img src="/images/Flags/flags_iso/64/{{ finals[0].team2.flagImage }}" alt="{{ finals[0].team2.code.toUpperCase() }}" /><br />
                    {{ finals[0].team2.name }}<span class="finals-score2" ng-show="finals[0].result">: {{ finals[0].score2 }}</span>
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[0]._id] == finals[0].team2.code}" ng-click="savePick(currentUser._id, finals[0]._id, finals[0].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[0]._id] }}
                    <span ng-show="finals[0].result">
                      <br />Points awarded: {{ currentPoints[finals[0]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[1].matchNumber }}">
                  <p>
                    Match #{{ finals[1].matchNumber }}, {{ finals[1].round }}<br />
                    <span class="matchtime" ng-hide="finals[1].result">{{ finals[1].datetime | date : 'EEE, MMMM d h:mma' }} (Your time)</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[1]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[1].team1.flagImage }}" alt="{{ finals[1].team1.code.toUpperCase() }}" /><span class="finals-score1" ng-show="finals[1].result">{{ finals[1].score1 }}</span><br />
                    {{ finals[1].team1.name }}<span class="finals-score1" ng-show="finals[1].result">: {{ finals[1].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[1]._id] == finals[1].team1.code}" ng-click="savePick(currentUser._id, finals[1]._id, finals[1].team1.code)">Win</button>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[1].team2.flagImage }}" alt="{{ finals[1].team2.code.toUpperCase() }}" /><span class="finals-score2" ng-show="finals[1].result">{{ finals[1].score2 }}</span><br />
                    {{ finals[1].team2.name }}<span class="finals-score2" ng-show="finals[1].result">: {{ finals[1].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[1]._id] == finals[1].team2.code}" ng-click="savePick(currentUser._id, finals[1]._id, finals[1].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[1]._id] }}
                    <span ng-show="finals[1].result">
                      <br />Points awarded: {{ currentPoints[finals[1]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[4].matchNumber }}">
                  <p>
                    Match #{{ finals[4].matchNumber }}, {{ finals[4].round }}<br />
                    <span class="matchtime" ng-hide="finals[4].result">{{ finals[4].datetime | date : 'EEE, MMMM d h:mma' }} (Your time)</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[4]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[4].team1.flagImage }}" alt="{{ finals[4].team1.code.toUpperCase() }}" /><br />
                    {{ finals[4].team1.name }}<span class="finals-score1" ng-show="finals[4].result">: {{ finals[4].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[4]._id] == finals[4].team1.code}" ng-click="savePick(currentUser._id, finals[4]._id, finals[4].team1.code)">Win</button>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[4].team2.flagImage }}" alt="{{ finals[4].team2.code.toUpperCase() }}" /><br />
                    {{ finals[4].team2.name }}<span class="finals-score2" ng-show="finals[4].result">: {{ finals[4].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[4]._id] == finals[4].team2.code}" ng-click="savePick(currentUser._id, finals[4]._id, finals[4].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[4]._id] }}
                    <span ng-show="finals[4].result">
                      <br />Points awarded: {{ currentPoints[finals[4]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[5].matchNumber }}">
                  <p>
                    Match #{{ finals[5].matchNumber }}, {{ finals[5].round }}<br />
                    <span class="matchtime" ng-hide="finals[5].result">{{ finals[5].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[5]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[5].team1.flagImage }}" alt="{{ finals[5].team1.code.toUpperCase() }}" /><br />
                    {{ finals[5].team1.name }}<span class="finals-score1" ng-show="finals[5].result">: {{ finals[5].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[5]._id] == finals[5].team1.code}" ng-click="savePick(currentUser._id, finals[5]._id, finals[5].team1.code)">Win</button>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[5].team2.flagImage }}" alt="{{ finals[5].team2.code.toUpperCase() }}" /><br />
                    {{ finals[5].team2.name }}<span class="finals-score2" ng-show="finals[5].result">: {{ finals[5].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[5]._id] == finals[5].team2.code}" ng-click="savePick(currentUser._id, finals[5]._id, finals[5].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[5]._id] }}
                    <span ng-show="finals[5].result">
                      <br />Points awarded: {{ currentPoints[finals[5]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Left side Quarter-finals -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[8].matchNumber }}">
                  <p>
                    Match #{{ finals[8].matchNumber }}, {{ finals[8].round }}<br />
                    <span class="matchtime" ng-hide="finals[8].result">{{ finals[8].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[8]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[8].team1.flagImage }}" alt="{{ finals[8].team1.code.toUpperCase() }}" /><br />
                    {{ finals[8].team1.name }}<span class="finals-score1" ng-show="finals[8].result">: {{ finals[8].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[8]._id] == finals[8].team1.code}" ng-click="savePick(currentUser._id, finals[8]._id, finals[8].team1.code)">Win</button>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[8].team2.flagImage }}" alt="{{ finals[8].team2.code.toUpperCase() }}" /><br />
                    {{ finals[8].team2.name }}<span class="finals-score2" ng-show="finals[8].result">: {{ finals[8].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[8]._id] == finals[8].team2.code}" ng-click="savePick(currentUser._id, finals[8]._id, finals[8].team2.code)">Win</button>
                  </p>
                  
                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[8]._id] }}
                    <span ng-show="finals[8].result">
                      <br />Points awarded: {{ currentPoints[finals[8]._id] }}
                    </span>
                  </strong></p>

                </div>
                <div class="match" id="match-{{ finals[9].matchNumber }}">
                  <p>
                    Match #{{ finals[9].matchNumber }}, {{ finals[9].round }}<br />
                    <span class="matchtime" ng-hide="finals[9].result">{{ finals[9].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[9]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[9].team1.flagImage }}" alt="{{ finals[9].team1.code.toUpperCase() }}" /><br />
                    {{ finals[9].team1.name }}<span class="finals-score1" ng-show="finals[9].result">: {{ finals[9].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[9]._id] == finals[9].team1.code}" ng-click="savePick(currentUser._id, finals[9]._id, finals[9].team1.code)">Win</button>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[9].team2.flagImage }}" alt="{{ finals[9].team2.code.toUpperCase() }}" /><br />
                    {{ finals[9].team2.name }}<span class="finals-score2" ng-show="finals[9].result">: {{ finals[9].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[9]._id] == finals[9].team2.code}" ng-click="savePick(currentUser._id, finals[9]._id, finals[9].team2.code)">Win</button>
                  </p>
                  
                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[9]._id] }}
                    <span ng-show="finals[9].result">
                      <br />Points awarded: {{ currentPoints[finals[9]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Left side Semi-final -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[12].matchNumber }}">
                  <p>
                    Match #{{ finals[12].matchNumber }}, {{ finals[12].round }}<br />
                    <span class="matchtime" ng-hide="finals[12].result">{{ finals[12].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[12]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[12].team1.flagImage }}" alt="{{ finals[12].team1.code.toUpperCase() }}" /><br />
                    {{ finals[12].team1.name }}<span class="finals-score1" ng-show="finals[12].result">: {{ finals[12].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[12]._id] == finals[12].team1.code}" ng-click="savePick(currentUser._id, finals[12]._id, finals[12].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[12].team2.flagImage }}" alt="{{ finals[12].team2.code.toUpperCase() }}" /><br />
                    {{ finals[12].team2.name }}<span class="finals-score2" ng-show="finals[12].result">: {{ finals[12].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[12]._id] == finals[12].team2.code}" ng-click="savePick(currentUser._id, finals[12]._id, finals[12].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[12]._id] }}
                    <span ng-show="finals[12].result">
                      <br />Points awarded: {{ currentPoints[finals[12]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Finals (center column) -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[15].matchNumber }}">
                  <p>
                    Match #{{ finals[15].matchNumber }}, {{ finals[15].round }}<br />
                    <span class="matchtime" ng-hide="finals[15].result">{{ finals[15].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[15]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[15].team1.flagImage }}" alt="{{ finals[15].team1.code.toUpperCase() }}" /><br />
                    {{ finals[15].team1.name }}<span class="finals-score1" ng-show="finals[15].result">: {{ finals[15].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[15]._id] == finals[15].team1.code}" ng-click="savePick(currentUser._id, finals[15]._id, finals[15].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[15].team2.flagImage }}" alt="{{ finals[15].team2.code.toUpperCase() }}" /><br />
                    {{ finals[15].team2.name }}<span class="finals-score2" ng-show="finals[15].result">: {{ finals[15].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[15]._id] == finals[15].team2.code}" ng-click="savePick(currentUser._id, finals[15]._id, finals[15].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[15]._id] }}
                    <span ng-show="finals[15].result">
                      <br />Points awarded: {{ currentPoints[finals[15]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[14].matchNumber }}">
                  <p>
                    Match #{{ finals[14].matchNumber }}, {{ finals[14].round }}<br />
                    <span class="matchtime" ng-hide="finals[14].result">{{ finals[14].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[14]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[14].team1.flagImage }}" alt="{{ finals[14].team1.code.toUpperCase() }}" /><br />
                    {{ finals[14].team1.name }}<span class="finals-score1" ng-show="finals[14].result">: {{ finals[14].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[14]._id] == finals[14].team1.code}" ng-click="savePick(currentUser._id, finals[14]._id, finals[14].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[14].team2.flagImage }}" alt="{{ finals[14].team2.code.toUpperCase() }}" /><br />
                    {{ finals[14].team2.name }}<span class="finals-score2" ng-show="finals[14].result">: {{ finals[14].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[14]._id] == finals[14].team2.code}" ng-click="savePick(currentUser._id, finals[14]._id, finals[14].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[14]._id] }}
                    <span ng-show="finals[14].result">
                      <br />Points awarded: {{ currentPoints[finals[14]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Right side Semi-final -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[13].matchNumber }}">
                  <p>
                    Match #{{ finals[13].matchNumber }}, {{ finals[13].round }}<br />
                    <span class="matchtime" ng-hide="finals[13].result">{{ finals[13].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[13]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[13].team1.flagImage }}" alt="{{ finals[13].team1.code.toUpperCase() }}" /><br />
                    {{ finals[13].team1.name }}<span class="finals-score1" ng-show="finals[13].result">: {{ finals[13].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[13]._id] == finals[13].team1.code}" ng-click="savePick(currentUser._id, finals[13]._id, finals[13].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[13].team2.flagImage }}" alt="{{ finals[13].team2.code.toUpperCase() }}" /><br />
                    {{ finals[13].team2.name }}<span class="finals-score2" ng-show="finals[13].result">: {{ finals[13].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[13]._id] == finals[13].team2.code}" ng-click="savePick(currentUser._id, finals[13]._id, finals[13].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[13]._id] }}
                    <span ng-show="finals[13].result">
                      <br />Points awarded: {{ currentPoints[finals[13]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Right side Quarter-finals -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[10].matchNumber }}">
                  <p>
                    Match #{{ finals[10].matchNumber }}, {{ finals[10].round }}<br />
                    <span class="matchtime" ng-hide="finals[10].result">{{ finals[10].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[10]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[10].team1.flagImage }}" alt="{{ finals[10].team1.code.toUpperCase() }}" /><br />
                    {{ finals[10].team1.name }}<span class="finals-score1" ng-show="finals[10].result">: {{ finals[10].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[10]._id] == finals[10].team1.code}" ng-click="savePick(currentUser._id, finals[10]._id, finals[10].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[10].team2.flagImage }}" alt="{{ finals[10].team2.code.toUpperCase() }}" /><br />
                    {{ finals[10].team2.name }}<span class="finals-score2" ng-show="finals[10].result">: {{ finals[10].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[10]._id] == finals[10].team2.code}" ng-click="savePick(currentUser._id, finals[10]._id, finals[10].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[10]._id] }}
                    <span ng-show="finals[10].result">
                      <br />Points awarded: {{ currentPoints[finals[10]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[11].matchNumber }}">
                  <p>
                    Match #{{ finals[11].matchNumber }}, {{ finals[11].round }}<br />
                    <span class="matchtime" ng-hide="finals[11].result">{{ finals[11].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[11]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[11].team1.flagImage }}" alt="{{ finals[11].team1.code.toUpperCase() }}" /><br />
                    {{ finals[11].team1.name }}<span class="finals-score1" ng-show="finals[11].result">: {{ finals[11].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[11]._id] == finals[11].team1.code}" ng-click="savePick(currentUser._id, finals[11]._id, finals[11].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[11].team2.flagImage }}" alt="{{ finals[11].team2.code.toUpperCase() }}" /><br />
                    {{ finals[11].team2.name }}<span class="finals-score2" ng-show="finals[11].result">: {{ finals[11].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[11]._id] == finals[11].team2.code}" ng-click="savePick(currentUser._id, finals[11]._id, finals[11].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[11]._id] }}
                    <span ng-show="finals[11].result">
                      <br />Points awarded: {{ currentPoints[finals[11]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>

              <!-- Right side round of 16 -->
              <td class="finals-col">
                <div class="match" id="match-{{ finals[2].matchNumber }}">
                  <p>
                    Match #{{ finals[2].matchNumber }}, {{ finals[2].round }}<br />
                    <span class="matchtime" ng-hide="finals[2].result">{{ finals[2].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[2]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[2].team1.flagImage }}" alt="{{ finals[2].team1.code.toUpperCase() }}" /><br />
                    {{ finals[2].team1.name }}<span class="finals-score1" ng-show="finals[2].result">: {{ finals[2].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[2]._id] == finals[2].team1.code}" ng-click="savePick(currentUser._id, finals[2]._id, finals[2].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[2].team2.flagImage }}" alt="{{ finals[2].team2.code.toUpperCase() }}" /><br />
                    {{ finals[2].team2.name }}<span class="finals-score2" ng-show="finals[2].result">: {{ finals[2].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[2]._id] == finals[2].team2.code}" ng-click="savePick(currentUser._id, finals[2]._id, finals[2].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[2]._id] }}
                    <span ng-show="finals[2].result">
                      <br />Points awarded: {{ currentPoints[finals[2]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[3].matchNumber }}">
                  <p>
                    Match #{{ finals[3].matchNumber }}, {{ finals[3].round }}<br />
                    <span class="matchtime" ng-hide="finals[3].result">{{ finals[3].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[3]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[3].team1.flagImage }}" alt="{{ finals[3].team1.code.toUpperCase() }}" /><br />
                    {{ finals[3].team1.name }}<span class="finals-score1" ng-show="finals[3].result">: {{ finals[3].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[3]._id] == finals[3].team1.code}" ng-click="savePick(currentUser._id, finals[3]._id, finals[3].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[3].team2.flagImage }}" alt="{{ finals[3].team2.code.toUpperCase() }}" /><br />
                    {{ finals[3].team2.name }}<span class="finals-score2" ng-show="finals[3].result">: {{ finals[3].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[3]._id] == finals[3].team2.code}" ng-click="savePick(currentUser._id, finals[3]._id, finals[3].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[3]._id] }}
                    <span ng-show="finals[3].result">
                      <br />Points awarded: {{ currentPoints[finals[3]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[6].matchNumber }}">
                  <p>
                    Match #{{ finals[6].matchNumber }}, {{ finals[6].round }}<br />
                    <span class="matchtime" ng-hide="finals[6].result">{{ finals[6].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[6]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[6].team1.flagImage }}" alt="{{ finals[6].team1.code.toUpperCase() }}" /><br />
                    {{ finals[6].team1.name }}<span class="finals-score1" ng-show="finals[6].result">: {{ finals[6].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[6]._id] == finals[6].team1.code}" ng-click="savePick(currentUser._id, finals[6]._id, finals[6].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[6].team2.flagImage }}" alt="{{ finals[6].team2.code.toUpperCase() }}" /><br />
                    {{ finals[6].team2.name }}<span class="finals-score2" ng-show="finals[6].result">: {{ finals[6].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[6]._id] == finals[6].team2.code}" ng-click="savePick(currentUser._id, finals[6]._id, finals[6].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[6]._id] }}
                    <span ng-show="finals[6].result">
                      <br />Points awarded: {{ currentPoints[finals[6]._id] }}
                    </span>
                  </strong></p>
                </div>

                <div class="match" id="match-{{ finals[7].matchNumber }}">
                  <p>
                    Match #{{ finals[7].matchNumber }}, {{ finals[7].round }}<br />
                    <span class="matchtime" ng-hide="finals[7].result">{{ finals[7].datetime | date : 'EEE, MMMM d h:mma' }}</span><br />
                    <span ng-show="isAdmin"><a href="match/edit/{{ finals[7]._id }}">Edit Match</a></span>
                  </p>

                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[7].team1.flagImage }}" alt="{{ finals[7].team1.code.toUpperCase() }}" /><br />
                    {{ finals[7].team1.name }}<span class="finals-score1" ng-show="finals[7].result">: {{ finals[7].score1 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[finals[7]._id] == finals[7].team1.code}" ng-click="savePick(currentUser._id, finals[7]._id, finals[7].team1.code)">Win</button>
                  </p>
                  <p>
                    <img src="/images/Flags/flags_iso/64/{{ finals[7].team2.flagImage }}" alt="{{ finals[7].team2.code.toUpperCase() }}" /><br />
                    {{ finals[7].team2.name }}<span class="finals-score2" ng-show="finals[7].result">: {{ finals[7].score2 }}</span><br />
                    <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit"  ng-class="{'btn-success': currentPicks[finals[7]._id] == finals[7].team2.code}" ng-click="savePick(currentUser._id, finals[7]._id, finals[7].team2.code)">Win</button>
                  </p>

                  <p ng-hide="beforeKOroundCutoff"><strong>
                    {{ currentUser.name }} Pick: {{ currentPicks[finals[7]._id] }}
                    <span ng-show="finals[7].result">
                      <br />Points awarded: {{ currentPoints[finals[7]._id] }}
                    </span>
                  </strong></p>
                </div>
              </td>
            </tr>
          </table>

      </div><!-- ng-switch -->
    </div><!-- tab-content -->

  </div>
 </div>

 <div ng-include="'partials/footer'" class="footer"></div>
 <script type='text/javascript'>
  $(document).ready(function() {
    $('#pickNav').scrollspy({
      min: $('#pickNav').offset().top,
      max: 15000, // arbistrarily large max Y value
      onEnter: function(element, position) {
        $("#pickNav h1").addClass('fixed');
      },
      onLeave: function(element, position) {
        $("#pickNav h1").removeClass('fixed');
      }
    });
});
</script>
 