<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1 ng-show="beforeFirstroundCutoff && !isAdmin">Picks for: {{ currentUser.teamName +' - '+ currentUser.name }}</span></h1>
    <h1 ng-hide="beforeFirstroundCutoff && !isAdmin">Picks for: <select ng-change="changeUser()" ng-model="currentUser" ng-options="(user.teamName +' - '+ user.name) for user in users track by user._id"></select></h1>

    <ul class="nav nav-tabs">
      <li ng-class="{active: activeTab == 'group' }"><a ng-click='activeTab = "group"'>Group Stage</a></li>
      <li ng-class="{active: activeTab == 'finals' }"><a ng-click='activeTab = "finals"'>Knock-out Stage</a></li>
    </ul>

    <div class="tab-content">
      Team/Country (<a href="http://www.fifa.com/worldranking/index.html" target="_blank">FIFA ranking</a>)
      <div ng-switch='activeTab'>

        <!-- round 1 -->
        <div ng-switch-when='group'>
          <p id="pick-meter">You've picked: <strong>{{ pickCount }} / 48</strong> First Round Matches</p>
          <!-- ng-repeat for Match -->
          <div class="match clearfix" ng-repeat="match in firstround">
            
            <h2>{{ match.datetime | date : 'MMMM d' }}</h2>
            
            <form class="form" name="pickForm" novalidate>
              <!-- left "box" -->
              <div class="col-sm-4">
                <img src="/images/Flags/flags_iso/128/{{ match.team1.flagImage }}" alt="{{ match.team1.code.toUpperCase() }}" /><br />
                {{ match.team1.name }} ({{ match.team1.ranking }})<br />
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'w+2:1'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'w+2:1')">W + 2</button>
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'w:1'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'w:1')">Win</button>
                </div>
              </div>
              <!-- middle "box" -->
              <div class="col-sm-3">
                <div ng-show="isAdmin"><a href="match/edit/{{ match._id }}">Edit Match</a></div>
                Match #{{ match.matchNumber }}<br />
                Group {{ match.group }}<br />
                <!-- if populated, show score instead of time -->
                <p class="matchtime" ng-hide="match.result">{{ match.datetime | date : 'h:mma' }} (Your time)</p>
                <p class="marchresult" ng-show="match.result">Score: {{ match.score1 }} - {{ match.score2 }}<br />
                Result: {{ match.result }}</p>
                <p ng-hide="beforeFirstroundCutoff"><strong>{{ currentUser.name }}<br />
                  Pick: {{ currentPicks[match._id] }}
                  <span ng-show="match.result">
                    <br />Points awarded: {{ currentPoints[match._id] }}
                  </span>
                </strong></p>
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" ng-class="{'btn-success': currentPicks[match._id] == 'd'}" type="submit" ng-click="savePick(currentUser._id, match._id, 'd')">Draw</button>
                </div> 
              </div>
              <!-- right "box" -->
              <div class="col-sm-4">
                <img src="/images/Flags/flags_iso/128/{{ match.team2.flagImage }}" alt="{{ match.team2.code.toUpperCase() }}" /><br />
                {{ match.team2.name }} ({{ match.team2.ranking }})<br />
                <div ng-show="beforeFirstroundCutoff">
                  <button class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[match._id] == 'w:2'}" ng-click="savePick(currentUser._id, match._id, 'w:2')">Win</button>
                  <button class="btn btn-sm btn-primary" type="submit" ng-class="{'btn-success': currentPicks[match._id] == 'w+2:2'}" ng-click="savePick(currentUser._id, match._id, 'w+2:2')">W + 2</button>
                </div>
              </div>
            </form>

          </div><!-- match -->
        </div>
        <!-- end round 1 -->

        <!-- knock-out round -->
        <div ng-switch-when='finals'>
          <!-- ng-repeat for Match -->
          <div class="match clearfix" ng-repeat="match in finals">
            
            <h2>{{ match.datetime | date : 'MMMM d' }}</h2>
          
            <!-- left "box" -->
            <div class="col-sm-4">
              <img src="/images/Flags/flags_iso/128/{{ match.team1.flagImage }}" alt="{{ match.team1.code.toUpperCase() }}" /><br />
              {{ match.team1.name }}<br />
              <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit">Win</button>
            </div>
            <!-- middle "box" -->
            <div class="col-sm-3">
              Round: {{ match.round }}
              <p class="matchtime" ng-hide="match.result">{{ match.datetime | date : 'h:mma' }} (Your time)</p>
              <p class="marchresult" ng-show="match.result">Score: {{ match.score1 }} - {{ match.score2 }}</p>
              <p ng-hide="beforeKOroundCutoff"><strong>
                Pick: {{ currentPicks[match._id] }}
                <span ng-show="match.result">
                  <br />Result: {{ match.result }}
                  <br />Points awarded: {{ currentPoints[match._id] }}
                </span>
              </strong></p>
            </div>
            <!-- right "box" -->
            <div class="col-sm-4">
              <img src="/images/Flags/flags_iso/128/{{ match.team2.flagImage }}" alt="{{ match.team2.code.toUpperCase() }}" /><br />
              {{ match.team2.name }}<br />
              <button ng-show="afterKOroundOpen && beforeKOroundCutoff" class="btn btn-sm btn-primary" type="submit">Win</button>
            </div>

          </div><!-- match -->
        </div>

      </div><!-- ng-switch -->
    </div><!-- tab-content -->

  </div>
 </div>

 <div ng-include="'partials/footer'" class="footer"></div>
 